<?xml version="1.0"?>
<config>
    <modules>
        <A4s_Pricemotion>
            <version>0.2.17</version>
        </A4s_Pricemotion>
    </modules>
    <global>
         <blocks>
            <pricemotion>
                <class>A4s_Pricemotion_Block</class>
            </pricemotion>
			<adminhtml>
				<rewrite>
					<catalog_product_grid>A4s_Pricemotion_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
				</rewrite>
			</adminhtml>
          </blocks>
        <models>
            <pricemotion>
                <class>A4s_Pricemotion_Model</class>
                <resourceModel>pricemotion_mysql4</resourceModel>
            </pricemotion>
            <pricemotion_mysql4>
				 <class>A4s_Pricemotion_Model_Mysql4</class>
				 <entities>
				 	<rules>
						<table>pricemotion_rules</table>
					</rules>
				 </entities>
			</pricemotion_mysql4>
        </models>
        <helpers>
            <pricemotion><class>A4s_Pricemotion_Helper</class></pricemotion>
        </helpers>
		<resources>
            <pricemotion_setup>
                <setup>
                    <module>A4s_Pricemotion</module>
                    <class>A4s_Pricemotion_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pricemotion_setup>
            <pricemotion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pricemotion_write>
            <pricemotion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pricemotion_read>
        </resources>
        <template>
            <email>
				<pricemotion_options_emails_template translate="label" module="pricemotion">
                    <label>PriceMotion Cron Report</label>
                    <file>pricemotion.html</file>
                    <type>html</type>
                </pricemotion_options_emails_template>
			</email>
		</template>
    </global>
	<admin>
    	<routers>
			<pricemotion>
                <use>admin</use>
                <args>
                    <module>A4s_Pricemotion</module>
                    <frontName>pricemotion</frontName>
                </args>
			</pricemotion>
		</routers>
    </admin>
    <adminhtml>
    	<layout>
            <updates>
                <pricemotion>
                    <file>pricemotion.xml</file>
                </pricemotion>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pricemotion_options>
                                            <title>Pricemotion section</title>
                                        </pricemotion_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <catalog_product_save_after>
                <observers>
                    <pricemotion_save_rules_data>
                        <type>singleton</type>
                        <class>A4s_Pricemotion_Model_Observer</class>
                        <method>saveRulesData</method>
                    </pricemotion_save_rules_data>
                </observers>
            </catalog_product_save_after>
			<catalog_product_collection_load_before>
            	<observers>
                    <pricemotion_add_to_product_collection>
                        <type>model</type>
                        <class>A4s_Pricemotion_Model_Observer</class>
                        <method>addToProductCollection</method>
                    </pricemotion_add_to_product_collection>
                </observers>
            </catalog_product_collection_load_before>
        </events>
		<translate>
            <modules>
                <pricemotion>
                    <files>
                        <default>Pricemotion.csv</default>
                    </files>
                </pricemotion>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <pricemotion_send_messages>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pricemotion/observer::sendMessages</model>
                </run>
            </pricemotion_send_messages>
            <pricemotion_set_prices>
                <schedule>
                    <cron_expr>30 */18 * * *</cron_expr>
                </schedule>
                <run>
                    <model>pricemotion/observer::setPrices</model>
                </run>
            </pricemotion_set_prices>
            <pricemotion_update_attributes>
                <schedule>
                    <cron_expr>0 */18 * * *</cron_expr>
                </schedule>
                <run>
                    <model>pricemotion/observer::updateAttributes</model>
                </run>
            </pricemotion_update_attributes>
          </jobs>
    </crontab>
    <default>
    	<pricemotion_options>
    		<default>
    			<messages_url>http://pricemotion.nl/pm_messaging/</messages_url>
    			<url>http://pricemotion.nl/service/</url>
    		</default>
    		<emails>
				<template>pricemotion_options_emails_template</template>
    		</emails>
    	</pricemotion_options>
    </default>
</config>
